<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Adding Books to Catalogue</title>
	</head>
	<body>
		<h1>Student Book Catalogue Add</h1>
		<!-- Display any flash messages -->
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %}
		<form
			action="/add_to_catalogue/isbn"
			method="post">
			<!-- Safely render the ISBN if it exists, otherwise show an empty input -->
			<input
				type="text"
				id="ISBN"
				name="ISBN"
				size="24"
				placeholder="Enter 10-digit or 13-digit ISBN"
				pattern="[0-9,X]{10,13}"
				title="Enter a valid 10- or 13-digit ISBN"
				value="{{ request.form['ISBN'] if 'ISBN' in request.form else '' }}"
				required />
			<!-- This is to ensure the ISBN is valid with either 10 or 13 digits; some 10-digit ISBNs have an "X", hence,
				 "X" is one of the acceptable values -->
			<br />
			<input
				type="submit"
				value="Add Book" />
		</form>
		<a href="/catalogue_dashboard">Back to Catalogue</a>
	</body>
</html>
